@import url('https://fonts.googleapis.com/css?family=Raleway+Dots|Roboto+Mono:100,300');

:root {
  --focus-color: #ffc014b9;
  --focus-color-light: #ffc01420;
  --link-color: #40edfa;
  --bg-color-1: rgb(25, 25, 36);
  --bg-color-2: rgb(6, 5, 7);
  --scanline-color: rgba(32, 32, 48, 0.1);
  --bg-active-color: #22222a;
  --fg-color: #e0e0e0;
  --border-color: #a0a0a0;
  --active-effect: 0 0 8px 0 var(--focus-color-light);
  --focus-text-effect: 2px 2px 0 var(--focus-color-light),
    4px 4px 0 var(--focus-color-light);
  --focus-effect-neutral: 4px 4px 0 0 #a0a0a030, 8px 8px 0 0 #a0a0a030;
  --focus-text-effect-neutral: 2px 2px 0 #c0c0c050, 4px 4px 0 #c0c0c050;
  --gradient-neutral: radial-gradient(
    circle,
    transparent 0%,
    transparent 40%,
    var(--bg-active-color) 100%
  );
  --bg-scanlines: repeating-linear-gradient(
      0deg,
      var(--scanline-color),
      var(--scanline-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    radial-gradient(circle, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--bg-color-1);
  background: var(--bg-scanlines);
  background-attachment: fixed;
  color: var(--fg-color);
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  transition: 0.2s ease all;
  /* cursor: none; */
}

button {
  margin: auto;
  padding: 8px 12px;
  border: 1px solid var(--fg-color);
  color: inherit;
  background: transparent;
  font-family: inherit;
  font-size: 1em;
}

input {
  margin: auto;
  padding: 8px 16px;
  border: 1px solid var(--fg-color);
  color: inherit;
  width: 300px;
  font-size: 1em;
  background: var(--gradient-neutral);
}
input::-webkit-input-placeholder {
  color: #ffffff40;
}

a {
  color: var(--link-color);
}

a:focus {
  color: var(--focus-color);
  text-shadow: var(--focus-text-effect);
  outline: 0;
}

button:focus,
div:focus,
input:focus,
li:focus > .tree-label-selected {
  outline: 0;
  border-color: var(--focus-color);
  color: var(--focus-color);
  text-shadow: var(--focus-text-effect);
  background: radial-gradient(
    circle,
    transparent 0%,
    transparent 40%,
    var(--focus-color-light) 100%
  );
}

li:focus {
  outline: none;
}

button:active,
input:active {
  background: radial-gradient(
    circle,
    transparent 0%,
    var(--focus-color-light) 40%,
    var(--focus-color-light) 100%
  );
  box-shadow: var(--active-effect);
  text-shadow: none;
}

button[aria-selected='true'] {
  box-shadow: var(--focus-effect);
}

h1 {
  font-weight: 400;
  font-family: 'Raleway Dots', monospace;
  font-size: 52px;
  text-shadow: var(--focus-text-effect-neutral);
}

h2,
h3,
h4,
h5 {
  font-weight: 100;
}

p {
  margin-bottom: 32px;
}

main {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

section {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 30px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.card:focus-within {
  background: var(--gradient-neutral);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-scanlines);
  box-shadow: 0 0 400px 400px #000000a0;
}

.row {
  display: flex;
  flex-direction: row;
}
.row > * + * {
  margin-left: 10px;
}

.popper {
  background: var(--bg-color-1);
  border: 1px solid var(--border-color);
  padding: 8px;
  display: block;
  width: 300px;
}
.popper > li {
  list-style: none;
}

.select-option[aria-selected='true'] {
  background: var(--focus-color-light);
}
